.kisim1{
    height: 700px;
    background-image: url("../img/giresun2.jpg");
    background-size: cover;
    position: relative;
}
.kisim1 img.logo{
    position: absolute;
    top: 5px;
    left: 65%;
}
.kisim1 img.menu1{
    position: absolute;
    top: 620px;
    width: 100%;
  
}
.kisim1 p.slogan{
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.kisim1 a.menubar1{
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
ul, li{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.kisim1 nav{
    margin-left: auto;
    margin-right: auto;
    width: 580px;
}
.kisim1 nav ul{
    position: absolute;
    top: 585px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 30px;
}
.kisim1 nav ul li{
    float: left;
    padding: 30px;
}
.kisim1 nav ul li a{
    color: white;
}
.kisim1 nav ul li a:hover{
    color: #8df967;
}
.galeri {
    margin: 45px;
    margin-top: 135px;
    border: 7px solid #dc3536;
    float: left;
    width: 400px;
    height: 300px;
}
  
.galeri:hover {
    border: 7px solid #8df967;
}
  
.galeri img {
    width: 400px;
    height: 250px;
}
  
.desc {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 20px;
    color: #006634;
    text-align: center;
}
.kisim3{
    height: 100px;
    background-color: #006634;
    background-size: cover;
    position: relative;
    top: 600px;
}
.kisim3 p.altyazi1{
    position: absolute;
    top: -10px;
    right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #8df967;
}
.kisim3 p.altyazi2{
    position: absolute;
    top: 40px;
    right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', italic, sans-serif;
    font-size: 20px;
    text-align: left;
    color: #8df967;
}
.kisim3 img{
    position: absolute;
    top: 20px;
    left: 10px;
}