body{
    background-color: #eeb904;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    font-family: Arial, Helvetica, sans-serif;
}

/* ---Kayıt & Giriş Stil Ayarları--- */
.inputAlani{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 350px;
    padding: 40px;
    text-align: right;
    margin: auto;
    margin-top: 3%;
    letter-spacing: 3px;
}

#button{
    background-color: #BF0B0B;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 5%;
    margin-right: 33%;
}
.redTable{
    margin-left: 29%;
    margin-right: 29%;
    background-color: rgb(248, 223, 111);
}
h5{
    font-size: 14px;
    margin-bottom: -30px;
    text-align: center;
    color: rgba(245, 245, 245, 0.377);
}


/* ---Panel Stil Ayarları--- */

.kullaniciBilgileri{
    position:relative;
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 600px;
    height: 50px;
    padding: 40px;
    margin: auto;
    letter-spacing: 3px;
    position: absolute;
}

img{
    width: 100px;
    height: 100px;
    position:absolute;
    left: 80%;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}

#personelAdH3{
    float: left;
    font-size: larger;
}

#cikisButton{
    background-color: #BF0B0B;
    color: white;
    font-size: 12px;
    width: 80px;
    height: 20px;
    position:absolute;
    right: 83%;
    top: 70%;
    bottom: 0;
    margin:auto;
}

.musteriBilgileri{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 280px;
    height: 200px;
    padding: 40px;
    text-align: right;
    margin: auto;
    margin-left: 200px;
    top: 190px;
    letter-spacing: 3px;
    position: relative;
}
.siparisBilgileri{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 280px;
    height: 200px;
    padding: 40px;
    text-align: right;
    margin: auto;
    margin-left: 590px;
    top: -90px;
    letter-spacing: 3px;
    position: relative;
    
}
span {
  content: "\20BA";
}
.musteriSiparisEslestir{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 280px;
    height: 200px;
    padding: 40px;
    text-align: right;
    margin: auto;
    margin-left: 980px;
    top: -370px;
    letter-spacing: 3px;
    position: relative;
}
.musteriGuncelle{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 280px;
    height: 280px;
    padding: 40px;
    text-align: right;
    margin: auto;
    left: 1100px;
    top: 570px;
    letter-spacing: 3px;
    position: absolute;
}
.siparisGuncelle{
    color: #8DE8F2;
    background-color: #1B62BF;
    width: 280px;
    height: 280px;
    padding: 40px;
    text-align: right;
    margin: auto;
    left: 1100px;
    top: 950px;
    letter-spacing: 3px;
    position: absolute;
}



/* Tablo stil özellikleri */
table.redTable {
    border: 2px solid #A40808;
    background-color: #FFFFFF;
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
}
table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.redTable tbody td {
    font-size: 13px;
}
table.redTable tr:nth-child(even) {
    background: #EFDCDC;
}
table.redTable thead {
    background: #BF0B0B;
}
table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
}
table.redTable thead th:first-child {
    border-left: none;
}
table.redTable tfoot td {
    font-size: 13px;
}
table.redTable tfoot .links {
    text-align: right;
}
table.redTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}
.redTable{
    position: relative;
    top: -300px;
    margin-left: 1px;
    font-size: 12pt;
    background-color: rgb(248, 223, 111);
}

caption{
    font-size: 18px;
    color: #1B62BF;
}

table.redTable2 {
    border: 2px solid #A40808;
    background-color: #FFFFFF;
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
}
table.redTable2 td, table.redTable2 th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.redTable2 tbody td {
    font-size: 13px;
}
table.redTable2 tr:nth-child(even) {
    background: #EFDCDC;
}
table.redTable2 thead {
    background: #BF0B0B;
}
table.redTable2 thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
}
table.redTable2 thead th:first-child {
    border-left: none;
}
table.redTable2 tfoot td {
    font-size: 13px;
}
table.redTable2 tfoot .links {
    text-align: right;
}
table.redTable2 tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}
.redTable2{
    margin-top: -210px;
    font-size: 12pt;
    position: relative;
    background-color: rgb(248, 223, 111);
}

.masterdetail{
    top: 70px;
    font-size: 16px;
    font-weight: bold;
    color: darkslategrey;
    position: relative;
}
#araButton{
    background-color: #BF0B0B;
    color: white;
    font-size: 12px;
    width: 80px;
    margin-left: 5px;
    height: 20px;
}

table.redTable3 {
    border: 2px solid #A40808;
    background-color: #FFFFFF;
    width: 1000px;
    text-align: center;
    border-collapse: collapse;
}
table.redTable3 td, table.redTable3 th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.redTable3 tbody td {
    font-size: 13px;
}
table.redTable3 tr:nth-child(even) {
    background: #EFDCDC;
}
table.redTable3 thead {
    background: #BF0B0B;
}
table.redTable3 thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
}
table.redTable3 thead th:first-child {
    border-left: none;
}
table.redTable3 tfoot td {
    font-size: 13px;
}
table.redTable3 tfoot .links {
    text-align: right;
}
table.redTable3 tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}
.redTable3{
    margin-top: 90px;
    font-size: 12pt;
    position: relative;
    background-color: rgb(248, 223, 111);
}

