body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}
#box{
    width: 450px;
    background: url(images/bg8.jpg);
    background-size: cover;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    transition: 0.5s;
    
}
#box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#box img:hover{
    transform: scale(0.9);
}
#box h1{
    font-size: 40px;
    color: #e4e5ac;
    letter-spacing: 4px;
    font-weight: 100;
}
#box h5{
    font-size: 20px;
    color: #e4e5ac;
    letter-spacing: 3px;
    font-weight: 100;
}
#box p{
    text-align: justify;
    color: #303030;
}
ul{
    margin: 0;
    margin-bottom: -25px;
    padding: 0;
}
#box li{
    display: inline-block;
    margin: 8px;
    list-style: none;
}
#box li a{
    color: white;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
#box li a:hover{
    color: #ff7f00;
}
#particles-js{
    background-image: url(images/bg6.jpg);
    background-position: center;
    background-size: cover;
}